#title{
	background-color: #ff4c68;
	color: #fff;

}
.text-style{
	font-family: 'Montserrat'; 	
	font-size: 3.5rem;
	line-height: 1.5;
}
.body{
	font-family: 'Montserrat';
}
.container-fluid{
	padding:3% 15% 5.8%;
}
.navbar-brand{
	font-family:"Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}
.navbar{
	padding:0 0 4.5rem;
}
.nav-item{
	padding:0 18px;
}
.nav-link{
	font-size: 1.2rem;
	font-family:"Montserrat-light"; 
}
.download-button{
	margin:5% 3% 5% 0;
}
.title-image{
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 35%;
	
}



.icon{
	color:#ef8172;
	margin-bottom:1rem;
}
.features-box{
	text-align: center;
	padding: 5%;

}
h3{
	font-family: "Montserrat";
	font-weight: bold;
}
p{
	color: #8f8f8f;
}
.icon:hover{
	color: #ff4c68;
}
#features{
	padding:7% 15%;
	background-color: #fff;
	position: relative;

}




#testimonials{
	text-align: center;
	background-color:  #ef8172;
	color: #fff;
}

.carousel-item{
	padding:7% 15%;
}

h2{
	font-family:"Montserrat";
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
}
.testimonials-img{
	border-radius: 100%;
	width:150px;
	margin: 20px;

}




#press{
	background-color:  #ef8172;
	text-align: center;
	padding-bottom: 3%;
}
.press-logo{
	width: 15%;
	margin:20px 20px 50px;
}



#pricing{
	text-align: center;
	padding: 100px;
}
.card{
	margin: 25px;
}




@media(max-width:1028px){
	.title-image{
		position: static;
		transform:rotate(0);
	}
#title{
	text-align: center;
}

}



#cta{
	background-color: #ff4c68;
	text-align: center;
	padding: 5% 15%;
}
.cta-heading{
	font-family: "Montserrat";
	font-size: 3rem;
	line-height: 1.5;
	color:#fff;
}


#footer{
	text-align: center;
	padding: 8% 8%;

}
.footer-icon{
	margin:20px 10px 30px;
}




